// app global css in SCSS form
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #66689f transparent;
}

body {
    background-color: #1C1C1F;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1080px;
    margin: 0 auto;
  }